<div class="card" th:fragment="photo" xmlns:th="http://www.w3.org/1999/xhtml">
    <a th:href="@{'/photo/' + ${photo.id}}">
        <img class="card-img-top img-fluid" th:src="${photo.photofile}" alt="photo">
    </a>
    <div class="card-body">
        <h5 class="card-title" th:text="${photo.name}"></h5>
        <p class="card-text" th:text="${photo.description}"></p>
    </div>
    <div class="card-footer">
        <a th:href="@{'/master/' + ${photo.master.id}}"><img class="rounded-circle img-fluid avatar-photo" th:src="${photo.master.avatar}" alt="master"/></a>
        <small class="text-muted float-right" th:text="${#dates.format(photo.uploaddate, 'dd MMM yyyy')}"/>
        <div><a th:href="@{'/category/' + ${photo.category}}" class="text-muted" th:text="${'#' + photo.category}"/></div>
    </div>
</div>