input[name="price"] {
    margin-left: 15px;
    width: 100px!important;
}
.avatar-photo {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.avatar-photo-big {
    width: 150px;
}
.custom-file {
    margin-bottom: 1em;
}
.img-thumbnail {
    margin-bottom: 10px;
}
.datepickers-container {
    z-index: 1055;
}
[class*="iconicfill-"]:before {
    font-family: 'IconicFill', sans-serif;
    font-style:normal;
}