<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/header :: header"/>
<body>
<nav th:replace="partials/header :: navigation"/>
<main class="my-5">
    <div class="container">
        <form th:action="@{/api/account/update}" enctype="multipart/form-data" method="post" role="form" th:object="${currentUser}">
            <div class="row" th:data-id="*{id}">
                <div class="col-6">
                    <h3 id="reg_label">Фото профиля</h3>
                    <img th:src="*{avatar}" class="img-fluid" >
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="avatar" th:field="*{avatar}" id="customFile">
                            <label class="custom-file-label" for="customFile">Выбрать файл</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>Расскажите о себе</h5>
                        <textarea th:value="*{description}" th:field="*{description}" class="form-control" name="description" placeholder="о себе"/>
                    </div>
                </div>

                <div class="col-6">
                    <h3>Изменить информацию профиля</h3>
                        <div class="form-group">
                            <div class="form-group">
                                <input type="email" th:value="*{email}" th:field="*{email}" class="form-control" name="email" placeholder="email"/>
                            </div>
                            <div class="form-group">
                                <input type="password" th:value="*{password}" th:field="*{password}" class="form-control" name="password" placeholder="пароль"/>
                            </div>
                            <div class="form-group">
                                <input type="text" th:value="*{username}" th:field="*{username}" class="form-control" name="username" placeholder="логин"/>
                            </div>
                            <div class="form-group">
                                <input type="text" th:value="*{name}" th:field="*{name}" class="form-control" name="name" placeholder="имя"/>
                            </div>
                            <div class="form-group">
                                <input type="text" th:value="*{surname}" th:field="*{surname}" class="form-control" name="surname" placeholder="фамилия"/>
                            </div>
                            <div class="form-group">
                                <input type="text" id="account_birthday" th:value="*{birthday}" th:field="*{birthday}" class="form-control datepicker-here" name="birthday" placeholder="дата рождения"/>
                                <span hidden></span>
                            </div>
                            <div class="form-group ml-4">
                                <input type="checkbox" th:value="*{provideServices}" th:field="*{provideServices}" class="form-check-input" name="provideServices"/> Я хочу предоставлять услуги
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                        </div>
                    <h3 th:if="${services}">Выбрать предоставляемые услуги</h3>
                    <th:block th:each="services : ${services}">
                        <div class="form-inline form-group justify-content-between">
                            <span><input type="checkbox" class="form-check-input services" th:name="${services.name}" th:text="${services.name}"></span>
                            <input type="number" class="form-control" name="price" placeholder="цена"/>
                        </div>
                    </th:block>
                    <input th:if="${services}" type="button" id="saveServices" class="btn btn-primary" value="Сохранить" />
                </div>
            </div>
        </form>
    </div>
</main>
<footer th:replace="partials/footer :: footer"/>
<script th:src="@{/js/account.js}"></script>
<script th:src="@{/js/datepicker.js}"></script>
</body>
</html>