<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/header :: header"/>
<body>
<nav th:replace="partials/header :: navigation"/>
<main class="my-5">
    <div class="container">
        <div class="row" th:data-id="${currentUser.id}">
            <div class="col-6">
                <img src="../img/usr_def.jpg" class="img-circle img-responsive col-centered" id="usr_picture">
                <form role="form" method="POST" enctype="multipart/form-data" th:action="@{/api/account/avatar}">
                    <h4 id="reg_label">Установить фото профиля</h4>
                    <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse... <input type="file" name="file">
                        </span>
                    </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                </form>
                <h3 th:if="${services}">Выбрать предоставляемые услуги</h3>
                <th:block th:each="service : ${services}">
                    <div class="form-inline form-group justify-content-between">
                        <span><input type="checkbox" class="form-check-input service" th:name="${service.name}" th:text="${service.name}"></span>
                        <input type="number" class="form-control" name="price" placeholder="цена">
                    </div>
                </th:block>
                <input th:if="${services}" type="button" id="saveServices" class="btn btn-primary" value="Сохранить" />
            </div>
            <div class="col-6">
                <h3>Изменить информацию профиля</h3>
                <form th:action="@{/api/account/update}" method="post" role="form" th:object="${currentUser}">
                    <div class="form-group">
                        <div class="form-group">
                            <input type="email" th:value="*{email}" th:field="*{email}" class="form-control" name="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <input type="password" th:value="*{password}" th:field="*{password}" class="form-control" name="password" placeholder="пароль">
                        </div>
                        <div class="form-group">
                            <input type="text" th:value="*{username}" th:field="*{username}" class="form-control" name="username" placeholder="логин">
                        </div>
                        <div class="form-group">
                            <input type="text" th:value="*{name}" th:field="*{name}" class="form-control" name="name" placeholder="имя">
                        </div>
                        <div class="form-group">
                            <input type="text" th:value="*{surname}" th:field="*{surname}" class="form-control" name="surname" placeholder="фамилия">
                        </div>
                        <div class="form-group">
                            <input type="date" th:value="*{birthday}" th:field="*{birthday}" class="form-control" name="birthday" placeholder="дата рождения">
                        </div>
                        <div class="form-group ml-4">
                            <input type="checkbox" th:value="*{provideServices}" th:field="*{provideServices}" class="form-check-input" name="provideServices"> Я хочу предоставлять услуги
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Сохранить" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"/>
<script th:src="@{/js/account.js}"></script>
</body>
</html>