<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/header :: header"/>
<body>
<nav th:replace="partials/header :: navigation"/>
<main class="my-5">
    <div class="container">
        <div class="row" id="account" th:data-id="${user.id}">
            <div class="col-6">
                <h2>Информация профиля</h2>
                <img th:src="${user.avatar}" class="img-fluid mb-2" >
                <p th:text="${user.description}"></p>
                <button th:if="${isCurrent}" class="btn btn-primary" id="subscribeBtn">Подписаться</button>

                <div class="form-group">
                    <h3><span th:if="${user.name}" th:text="${user.name}"></span><span th:if="${user.surname}" th:text="${' ' + user.surname}"></span></h3>

                    <p th:if="${user.username}" th:text="${'@' + user.username}"></p>

                    <p th:text="${'Контактная почта: ' + user.email}"></p>

                    <p th:if="${user.birthday}" th:text="${'День рождения: ' + user.birthday}"></p>

                    <p th:text="${'Дата регистрации: ' + user.regdate}"></p>

                    <th:block th:if="${user.provideServices and user.services.size()>0}">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>Услуга</td>
                                <td>Цена</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="service : ${user.services}" >
                                <tr th:data-id="${service.id}">
                                    <td class="serviceName" th:text="${service.name}"></td>
                                    <td class="servicePrice" th:text="${service.price}"></td>
                                    <td><button data-toggle="modal" data-target="#bookingModal" class="btn btn-primary booking">Записаться</button></td>
                                </tr>
                            </th:block>

                            </tbody>
                        </table>
                    </th:block>
                </div>
            </div>
            <div class="col-6">
                <h2>Загруженные фото</h2>
                <div class="row">
                    <th:block  th:each="photo : ${user.photos}">
                        <div th:replace="partials/photo_in_list_account :: photo"></div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Записаться</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Услуга: <span id="serviceNameModal"></span></p>
                <p>Цена: <span id="servicePriceModal"></span></p>
                <span>Дата:</span>
                <input type="text" class="form-control datepicker-here" data-timepicker="true">
            </div>
            <div class="modal-footer">
                <button id="bookingBtn" type="button" class="btn btn-primary">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="partials/footer :: footer"/>
<script th:src="@{/js/account.js}"></script>
</body>
</html>