<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/header :: header"/>
<body class="d-flex flex-column h-100">
<!-- Begin page content -->
<main role="main" class="my-5">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
        <form th:action="@{/login}" method="post" role="form" class="col-12 col-lg-5">
            <div class="form-group" id="reg_form">
                <div class="input-group">
                    <input type="email" class="form-control" name="email" placeholder="email">
                </div><br>
                <div class="input-group">
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <input type="submit" class="btn btn-primary" value="Login" />
                <a th:href="@{/registration}" >Registration</a>
            </div>
            <div th:if="${param.error}" class="form-group text-center">Authentication Failed!</div>
        </form>
        </div>
    </div>
</main>
<footer th:replace="partials/footer :: footer"/>
</body>
</html>