<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/header :: header"/>
<body>
<nav th:replace="partials/header :: navigation"/>
<main class="my-5">
    <div class="container">
        <div class="row" id="account" th:data-id="${schedule.userId}">
            <div class="col-12">
                <th:block th:if="${schedule.booked.size()>0}">
                <h2>Ваши заказы</h2>
                    <table class="table" id="client">
                        <thead>
                        <tr>
                            <td>Услуга</td>
                            <td>Цена</td>
                            <td>Дата</td>
                            <td>Исполнитель</td>
                            <td>Статус</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="service : ${schedule.booked}" >
                            <tr th:data-id="${service.bookingId}">
                                <td class="serviceName" th:text="${service.serviceName}"></td>
                                <td class="servicePrice" th:text="${service.price}"></td>
                                <td class="serviceDate" th:text="${service.datetime}"></td>
                                <td><a th:href="${'/user/' + service.masterId}" th:text="${'@' + service.masterUsername}"></a></td>
                                <td class="serviceStatus" th:data-id="${service.status.getId()}" th:text="${service.status.getVal()}"></td>
                                <td>
                                    <button th:if="${service.status == T(com.course.PhotoNetwork.model.types.BookingEnum).NEW}" class="btn btn-primary confirm">Оплатить</button>
                                </td>
                                <td>
                                    <button th:if="${(service.status == T(com.course.PhotoNetwork.model.types.BookingEnum).PAID_MASTER || service.status == T(com.course.PhotoNetwork.model.types.BookingEnum).FINISH_AWAITS) && !service.finishedByClient && !service.deletedByMaster && !service.deletedByClient}" class="btn btn-primary confirm">Подтвердить завершение</button>
                                    <button th:if="${!service.deletedByClient && service.status != T(com.course.PhotoNetwork.model.types.BookingEnum).FINISHED}" class="btn btn-primary delete">Отменить запись</button>
                                </td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </th:block>
            <th:block th:if="${schedule.upcoming.size()>0}">
                <div class="col-12">
                    <h2>Предстоящие мероприятия</h2>
                    <table class="table" id="master">
                        <thead>
                        <tr>
                            <td>Услуга</td>
                            <td>Цена</td>
                            <td>Дата</td>
                            <td>Клиент</td>
                            <td>Статус</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="service : ${schedule.upcoming}" >
                            <tr th:data-id="${service.bookingId}">
                                <td class="serviceName" th:text="${service.serviceName}"></td>
                                <td class="servicePrice" th:text="${service.price}"></td>
                                <td class="serviceDate" th:text="${service.datetime}"></td>
                                <td><a th:href="${'/user/' + service.clientId}" th:text="${'@' + service.clientUsername}"></a></td>
                                <td class="serviceStatus" th:data-id="${service.status.getId()}" th:text="${service.status.getVal()}"></td>
                                <td>
                                    <button th:if="${service.status == T(com.course.PhotoNetwork.model.types.BookingEnum).PAID_CLIENT}" class="btn btn-primary confirm">Подтвердить оплату</button>
                                </td>
                                <td>
                                    <button th:if="${(service.status == T(com.course.PhotoNetwork.model.types.BookingEnum).PAID_MASTER || service.status == T(com.course.PhotoNetwork.model.types.BookingEnum).FINISH_AWAITS) && !service.finishedByMaster && !service.deletedByMaster && !service.deletedByClient}" class="btn btn-primary confirm">Подтвердить завершение</button>
                                    <button th:if="${!service.deletedByMaster && service.status != T(com.course.PhotoNetwork.model.types.BookingEnum).FINISHED}" class="btn btn-primary delete">Отменить запись</button>
                                </td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </div>
            </th:block>
        </div>
    </div>
</main>

<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Оплата</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Услуга: <span id="serviceNameModal"></span></p>
                <p>Цена: <span id="servicePriceModal"></span></p>
                <p>Дата: <span id="serviceDate"></span></p>
            </div>
            <div class="modal-footer">
                <button id="paymentConfirmBtn" type="button" class="btn btn-primary">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="partials/footer :: footer"/>
<script th:src="@{/js/booking.js}"></script>
</body>
</html>